

@font-face {
    font-family: 'But';
    src: url('../fonts/Butler_Webfont/butler_regular-webfont.woff2') format('woff2'),
         url('../fonts/Butler_Webfont/butler_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Can';
    src: url('../fonts/Candara.ttf');
    font-weight: normal;
    font-style: normal;

}
