
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 480px){
header{
	padding: 10px;
	
}

.content1{
	padding-top: 100px;
}
.soc{
	padding: 0px;
	margin: 0;
	display: none;
}
.logo{
	font-size: 11vw;
}
.photo1, .photo2, .photo3,
.photo4, .photo5, .photo6,
.photo7, .photo8, .photo9{
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	width:90%;
	margin-bottom: 0px;
	margin-top: 10px;
}
.photo1{
	margin-top: -15px;
	margin-bottom: 10px;
}
footer{
	height:50px;
	padding-top: 10px;
}
.ph{
	width:100%;	
}
.col-sm-hidden{
	display: none;
}
.phl{display: none;
}
.col-xs-6, .col-xs-8{
	width: 100%;
	float: none;
	margin: 0;
}

.olya_cont{
	padding-top: 50px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and ( max-width : 768px){
header{
	padding: 10px;
	
}

.content1{
	padding-top: 100px;
}
.soc{
	padding: 0px;
	margin: 0;
	display: none;
}
.logo{
	font-size: 11vw;
}
.photo1,
.photo4{
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
}
.photo2, .photo3{
	float: left;
	width: 43%;
	margin-left: 5%;
	margin-right: 0;
	margin-top: 30px;
}
.photo3{
	margin-left: 0;
	margin-right: 5%;
	float: right;
}
.photo4{
	margin-top: 30px;
	margin-bottom: 0;
}
.photo5{
	margin-left: 20%;
	width: 60%;
	float: left;
	margin-top: 30px;
	margin-bottom: 0;
}
.photo6{
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
	float: none;
	margin-top: 30px;
}
.photo7{
	float: left;
	width:57%;
	margin-bottom: 0;
	margin-left: 5%;
	margin-right: 0;
	margin-top: 30px;
	
}
.photo8{
	float: right;
	margin-right: 5%;
	width: 28%;
	margin-bottom: 0;
	margin-top: 30px;
	
}
.photo9{float: right;
	margin-right: 5%;
	width: 28%;
	margin-bottom: 0;
	margin-top: 10px;
}
footer{
	height:50px;
	padding-top: 10px;
}
.col-sm-hidden{
	display: none;
}
.olya_cont{
	padding-top: 100px;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and ( max-width : 992px){
.photo1{
	width:53%;
}
.photo2{
	width:41%;
	margin-left:5% ;
	margin-right: 0px;
	margin-bottom: 0px;
	float: right;
}
.photo3{
float: left;
width:40%;
	
}
.photo4{
	float: right;
	width:51%;
	margin-top: 50px;
	margin-bottom: 0px;
}
.photo5{
	float: left;
	width: 37%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 50px;
	
}
.photo6{
	width: 60%;
	float: right;
	margin-top: 50px;
	margin-bottom: 0;
}
.photo7{
	float: right;
	margin-top: 50px;
	width:28%;
	margin-left: 0;
	margin-right: 0;
	margin-left: 4%;
}
.photo8{
	 float: right;
 width: 28%;
 margin-top: 50px;
 margin-left: 0;
 margin-right: 0;
 
	
}
.photo9{

 float: left;
	width:37%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 50px;
}
header{
	padding: 10px;
	
}
.content1{
	padding-top: 100px;
}
.soc{
	padding: 0px;
	margin: 0;
	display: none;
}
footer{
	height:100px;
	padding-top: 40px;
}
.col-sm-hidden{
	display: none;
}
.olya_cont{
	padding-top: 130px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and ( max-width : 1200px){
.photo1{
	width:53%;
}
.photo2{
	width:41%;
	margin-left:5% ;
	margin-right: 0px;
	margin-bottom: 0px;
	float: right;
}
.photo3{
float: left;
width:40%;
	
}
.photo4{
	float: right;
	width:51%;
	margin-top: 50px;
	margin-bottom: 0px;
}
.photo5{
	float: left;
	width: 37%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 50px;
	
}
.photo6{
	width: 60%;
	float: right;
	margin-top: 50px;
	margin-bottom: 0;
}
.photo7{
	float: right;
	margin-top: 50px;
	width:28%;
	margin-left: 0;
	margin-right: 0;
	margin-left: 4%;
}
.photo8{
	 float: right;
 width: 28%;
 margin-top: 50px;
 margin-left: 0;
 margin-right: 0;
 
	
}
.photo9{

 float: left;
	width:37%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 50px;
}
header{
	padding: 10px;
	
}
.logo{
	width:70%;
	float: left;
	display: inline-block;
}
.content1{
	padding-top: 120px;
}

.soc2{
	display: inline-block;
	float: right;
}
.soc2 .fa{
	font-size: 40px;
	line-height: 1.875;
}
.soc{display: none;}

footer{
	height:100px;
	padding-top: 40px;
}
.col-md-hidden{
	display: none;
}
.rowsm{
	display: none;
}
.olya_cont{
	padding-top: 100px;
}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.col-md-hidden{
	display: none;
}
.rowsm{
	display: none;
}

.ph2{
	width: 90%;
}
.ph2_hor{
	width:97.3%;
}

}